extends ./base.jade
block append style
    link(rel="stylesheet", type="text/css", href="/assets/draw.css")
block body
    header
        a#logout(href="/logout" class="button") Log out
    section#draw
        canvas(width="800" height="500")
block append scripts
    script(src="/assets/socket.io.js")
    script(src="/assets/draw.js")
