extends ./base.jade
block append style
    link(rel="stylesheet", type="text/css", href="/assets/draw.css")
block body
    header
        p Use your scroll wheel to adjust circle radius. Click to shift the color.
        p Use the spacebar to toggle the header bar.
        button#switchColor Switch Color
        a#logout(href="/logout" class="button") Log out
        p Fade Rate
            input#fadeRange(type="range")
    section#draw
        canvas(width="1000" height="500")
block append scripts
    script(src="/assets/socket.io.js")
    script(src="/assets/draw.js")
